/Research Projects/SmartSongView/nbproject/private/
/Research Projects/SmartSongView/build/
/Hop Am Chuan/.gradle/*
/Hop Am Chuan/local.properties
/Hop Am Chuan/.idea/*
/Hop Am Chuan/.DS_Store
Hop Am Chuan/Hop Am Chuan-Hop Am Chuan.iml
Hop Am Chuan/Hop Am Chuan.iml