/Research Projects/SmartSongView/nbproject/private/
/Research Projects/SmartSongView/build/
/Hop Am Chuan/.gradle/*
/Hop Am Chuan/Hop Am Chuan/build/
/Hop Am Chuan/local.properties
/Hop Am Chuan/.idea/*
/Hop Am Chuan/.DS_Store
/Hop Am Chuan/Hop Am Chuan/libs/SlidingMenu/build/
Research Projects/SmartSongView/nbproject/private/
Research Projects/SmartSongView/build/
Hop Am Chuan/.gradle/*
Hop Am Chuan/Hop Am Chuan/build/
Hop Am Chuan/local.properties
Hop Am Chuan/.idea/*
Hop Am Chuan/.DS_Store
Hop Am Chuan/Hop Am Chuan/libs/SlidingMenu/build/
*.iml
*.class