<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application>
        <activity android:name=".FullscreenActivity"
            android:label="@string/title_activity_fullscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme"
            >
        </activity>
    </application>

</manifest>
