<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hac.android.guitarchord"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name="com.hac.android.guitarchord.BunnyApplication"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        >

        <meta-data
            android:name="android.app.default_searchable"
            android:value="com.hac.android.guitarchord.MainActivity" />

        <provider
            android:name="com.hac.android.provider.HopAmChuanProvider"
            android:authorities="com.hac.android.provider"
            android:exported="true"
            android:label="@string/app_name"
            android:syncable="true" />

        <provider android:name="com.hac.android.provider.SearchRecentProvider"
                  android:label="@string/app_name"
                  android:authorities="com.meta.data" />

        <service android:name="com.hac.android.helper.service.Mp3PlayerService"
                 android:label="@string/app_name"/>
        <service android:name="com.hac.android.helper.service.SyncService"
                 android:label="@string/app_name"/>
        <service android:name="com.hac.android.helper.service.UpdateService"
                 android:label="@string/app_name"/>

        <receiver android:name="com.hac.android.helper.service.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <meta-data
                        android:name="com.hac.android.guitarchord.meta.data"
                        android:resource="@xml/wakeful"/>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.hac.android.guitarchord.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop">
            <meta-data
                    android:name="android.app.default_searchable"
                    android:value="com.hac.android.guitarchord.MainActivity" />
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable" />
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.hac.android.guitarchord.SearchViewActivity"
            android:label="@string/title_activity_search_view"
            android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="com.hac.android.guitarchord.test.TestParser"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.hac.android.guitarchord.test.TestTextView"
            android:exported="true"
            android:label="@string/title_activity_test_text_view" >
        </activity>
        <activity
            android:name="com.hac.android.guitarchord.test.TestSurfaceView"
            android:exported="true"
            android:label="@string/title_activity_test_text_view" >
        </activity>
        <activity
            android:name="com.hac.android.guitarchord.test.TestDatabaseActivity"
            android:exported="true"
            android:label="@string/title_activity_test_database" >
        </activity>
        <activity
            android:name="com.hac.android.guitarchord.test.MainActivityTest"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.hac.android.guitarchord.SplashScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/SplashTheme.FullScreen"
            android:windowSoftInputMode="stateHidden|adjustResize" >
				<intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/FullscreenTheme"
            android:name="com.hac.android.guitarchord.LoginActivity"
            android:label="@string/login_activity_title" >
        </activity>
        <activity
            android:name="com.hac.android.guitarchord.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
                android:name="com.hac.android.guitarchord.SecondarySettingActivity"
                android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name="com.hac.android.guitarchord.FullscreenSongActivity"
            android:label="Full Screen Activity" >
        </activity>
    </application>

</manifest>
